
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

h1{
color: black;
}

body{
    background-color: #c6ccca;
    margin: auto;
}

p{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: auto;
    
}

p{
    color: #fce9e2;
}
ul,a{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: auto; 
}
.sub-category{
    color: #fce9e2;
}

li{
    background: #9ea0a3;
}
.header{
    color: white
}

div{

    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    margin: auto;
    
}

#div-t{
    background-color: #445c7c;
}

#div-1{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 150%;
}

#div-2{
    background-color: #555464;
    color: #fce9e2;
    width: 100%;
    margin: auto;
}
#div-23{
    background-color: #555464;
    color: #fce9e2;
    width: 97%;
    margin: auto;
}

.animalito{
    width: 500px;
}

.header:hover{
    background-color: #fff;
    color: #000000;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 700px){
    body{
        background-color: #c6ccca;
    }

    #div-1{
        width: 80%;
        text-align: center;
        font-size: 100%;
        font-weight: bolder;
    }
    .header{
        float: none;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 80%;
        color: black;
    }
    .header:hover{
        background-color: black;
        color: white;
        transition: background-color 0.5s ease;
    }
    .animalito
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:400px;
    }

    #meme-image
    {
        width: 400px;
    }
}